.mainContainer{
    display: flex;
    
    flex-wrap: wrap;
    background-color: #1d1d1d;
    flex-direction: column;
   min-height:100vh;
}
.title{
    color:#ffffff;
    text-align:center;
    font-size:32px;
    font-weight:700;
}
.rafflesContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #1d1d1d;
}
.buttonContainer{
    display:flex;
    width:100%;
    justify-content: center;
 
}
.button{
    background-color:#DA7D17;
    border:none;
    border-radius:5px;
    font-size:14px;
    padding:15px;
    margin-right:10px;
    transition:all ease 0.25s;
}


.buttonRaffle{
    background-color:#eeeeee;
    border:none;
    border-radius:5px;
    font-size:14px;
    padding:15px;
    margin-right:10px; 
    transition:all ease 0.25s;
}
.button:hover{
    cursor:pointer;
    background-color:#8b5113;
}
.buttonRaffle:hover{
    cursor:pointer;
    background-color:#666666;

}

